h1, p {
    font-family: Lato;
  }

  .container{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    align-items: center;
    text-align: center;
    
  }

  .timer{
    align-items: center;
    text-align: center;
  }
  